:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  width: 500px;
}

form label {
  font-size: 16px;
  font-weight: bold;
}

.inputDiv {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
}

input::placeholder {
  color: lightgray;
}
input:focus {
  border-color: lightblue;
}
.input-error{
  border-color: #fc8181;
}
.error{
  color: #fc8181;
  font-size: 12px;
  text-align: left;
  margin-top: 0;
}
button {
  width: 100%;
  padding: 8px 8px;
  margin: 16px 0px;
  background-color: green;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  border: none;
}
